.container {
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    align-items: center;

    .mat-card {
        width: 30em;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
    }

    mat-card-actions {
        display: flex;
        justify-content: flex-end;
    }
}